/* Global */
:root{
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-gray: #4d4d4d;
    --color-gray: #616161;
    --color-light-gray: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-purple: #4d2c91;
    --color-light-purple: #7e57c2; 
    --color-light-deep-purple: #b39ddb;
    --color-deep-purple: #4d2c91;
    --color-purple-2: #9c27b0;
    
    /* font-size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* font-weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */
    --size-border-radius: 4px;

    /* animation */
    --animation-duration: 500ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

/* navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: var(--color-white);
    padding: 10px;
    transition: all 250ms ease-in-out;
    z-index: 1;
}

#navbar.navbar_dark{
    background-color: var(--color-deep-purple);
    padding: 16px;
}

.navbar_icon{
    border-radius: 40%;
    width: 35px; height: 35px;
    margin: 0 10px;
}

.navbar_menu{
    display: flex;
}

.navbar_logo{
    display: flex;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold); 
    padding: 8px 12px;
    justify-content: space-between;
}

.navbar_menu_item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    border: 1px solid transparent;
}

.navbar_menu_item.active{
    border: 1px solid var(--color-white);
}   
.navbar_menu_item:hover{
    background-color: var(--color-dark-pink);
    border-color: var(--color-white);
}

.navbar_toggle-btn{
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* home */
#home{
    background: url(img/Rocamadou.jpg) center/cover no-repeat;
    padding: 80px;
    padding-top: 120px;
    text-align: center;
}

.home_avatar{
    width: 200px; height: 200px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home_title,
.home_description{
    color: var(--color-white);
}

.home_contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 1px var(--color-white) solid;
    border-radius: var(--size-border-radius);
}

.section{
    padding: 50px;
    text-align: center;
    margin: auto;
}
.section_container{
max-width: 1300px;
margin: auto;
}

/* about */
.about_major{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.major_icon{
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170%;
    margin: auto;
    border: 2px solid var(--color-light-purple);
    color: var(--color-light-purple);
    border-radius: 50%;
    margin-bottom: 16px;
    padding-top: 16px;
}

.major_icon i{
    transition: all var(--animation-duration) ease;
}

.major_icon:hover i{
    color: var(--color-purple);
    transform: rotate(-40deg) scale(1.2);
}

.major_title, .major_description{
    color: var(--color-dark-gray);
}

.major_description{
    font-size: var(--font-small);
}

.job{
    display: flex;
    align-items: center;
}

.job_logo{
    width: 50px; height: 50px;
    margin: 0 20px 0 0;
}

.job_description{
    margin: 0 16px;
    text-align: left;
}

.job_name, .job_period{
    color: var(--color-light-gray);
}

.job_name{
    font-size: var(--font-small);
}

.job_period{
    font-size: var(--font-micro);
}

/* skills */
#skills{
    background-color:#d1c4e9;
}

.skill_explain{
    margin: 20px 0 40px 0;
}

.skillset{
    display: flex;
    background-color: var(--color-light-gray);
    color: var(--color-light-white);
}

.skillset_title{
    color: var(--color-white);
}

.skill_description{
    display: flex;
    justify-content: space-between;
}

.skill_bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
    margin-bottom: 32px;
}

.skill_value{
    width: 100%;
    height: 3px;
    background-color: var(--color-orange    );
}

.skillset_left{
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding: 20px 40px;
}

.skillset_right{
    flex-basis: 40%;
}

.tools{
    background-color: var(--color-gray);
}

.tools, .etc{
    padding: 20px;
}

/* work */
.category_btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category_btn.selected,
.category_btn:hover {
    background-color: var(--color-light-purple);
    color: var(--color-dark-white);
}

.category_btn.selected .category_count,
.category_btn:hover .category_count{
    opacity: 1;
    top: 0;
}

.category_count{
    background-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 50%;
    width: 24px; 
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all var(--animation-duration);
}

.work_categories{
    margin: 20px 0 0 0;
}

.work_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 300ms ease-out;
}

.work_projects.anim-out{
    opacity: 0;
    transform: scale(0.9) translateY(40px);
}

.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-white);
    width: 280px;
    height: 250px;
    margin: 2px;
    margin: 15px;
}

.project.invisible{
    display: none;
}

.project_img{
    max-width: 100%;
    max-height: 100%;
}

.project_description{
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all var(--animation-duration) ease-in;
    transform: translateY(10px);
    opacity: 0;
}

.project:hover .project_description{
    opacity: 0.8;
    transform: translateY(0px);
}

.project_description h3{
    color: var(--color-light-deep-purple);
}

.project_description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    height: 2px;
    width: 50px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-white);
}

/* Testimonial */
#testimonials{
    background-color: var(--color-light-white);
}

.testimonials{
    margin: 40px;
}

.testimonial{
    display: flex;
    margin: 32px 0;
}

.testimonial_avatar{
    width: 100px;
    height: 130px;
    border-radius: 50%;
}

.testimonial_avatar:nth-child(odd){
    margin-right: 40px;
}

.testimonial_avatar:nth-child(even){
    margin-left: 40px;
}

.testimonial_speech-bubble{
    padding: 10px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testimonial_speech-bubble p{
    color: var(--color-light-gray);
}

.testimonial_speech-bubble a{
    color: var(--color-purple)
}

/* Contact */
#contact{
    background-color: var(--color-purple);
}

.contact_title,
.contact_email,
.contact_rights{
    color: var(--color-white);
}

.contact_title{
    margin: 32px 0;
}

.contact_links{
    font-size: var(--font-medium);
    margin: 24px 10px;
    transition: all var(--animation-duration);
}

.contact_links i:hover{
    transform: scale(1.3);
    color: var(--color-light-purple);
    transition: var(--animation-duration) ease-in;
}

/* Scorll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    color: var(--color-light-purple);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 750px){
    .navbar_toggle-btn{
        display: block;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-purple);
    }

    .navbar_menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open{
        display: block;
    }

    .about_major{
        flex-direction: column;
    }
    
    .major{
        margin-bottom: 30px;
    }

    .skillset{
        flex-direction: column;
    }

    .project{
        flex-grow: 1;
    }

    .testimonial_avatar{
        width: 80px;
        height: 100px;
    }

    .work_categories{
        margin-bottom: 20px;
    }

    .category_btn, .category_btn.active{
        margin-bottom: 20px;
    }
}